:root {
    --main-btn-conf-bg-color: #007bff;
    --main-btn-conf-bg-color-hover: #0069d9;
    --main-btn-conf-text-color: white;
    --link-btn-conf-bg-color: rgba(0, 0, 0, 0);
    --link-btn-conf-text-color: rgb(110, 168, 254);
}

body, html {
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}
  
main {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-transform: capitalize;
    font-size: 24px;
}

h2 {
    text-transform: capitalize;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 100px;
}

a.to_pay,
input[type=submit],
input[type=button],
button {
    background-color: var(--main-btn-conf-bg-color);
    border: none;
    color: var(--main-btn-conf-text-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

a.to_pay:hover,
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    background-color: var(--main-btn-conf-bg-color-hover);
}

a.link,
button.link {
    background-color: var(--link-btn-conf-bg-color);
    border-color: var(--link-btn-conf-bg-color);
    color: var(--link-btn-conf-text-color);
    text-decoration: underline;
    text-decoration-color: var(--link-btn-conf-text-color);
    padding: 0;
    font-size: 14px;
}

a.link:hover,
button.link:hover {
    color: var(--link-btn-conf-text-color);
    text-decoration-color: var(--link-btn-conf-text-color)
}

.capitalize {
    text-transform: capitalize;
}

.cart-item a,
.landing a,
.category_page  a {
    text-transform: capitalize;
}

.cart-item a:hover,
.landing a:hover,
.category_page  a:hover {
    text-decoration: underline;
}

.summary_page,
.checkout_page,
.product_page,
.category_page {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    gap: 25px;
    text-align: left;
    list-style: none;
    max-width: 50%;
}

.product_page  img,
.category_page .products img,
.landing img {
	width: 150px;
  	aspect-ratio: auto 1 / 1;
}